<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<%= link_to "New Contact", "/contacts/new", class: "btn btn-success" %>
	</div>	
</div><br>
<div class="row">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
<!--		<thead>
					<tr>
						<th>Name</th>
						 <th>Address</th>
						<th>Phone Number</th>
						<th>Email</th> 
						<th>Details</th>
					</tr>
				</thead> -->
				<tbody>
					<% @contacts.each do |contact| %>
						<tr>
							<!-- <td><%= contact.address %></td>
							<td><%= contact.phone %></td>
							<td><%= contact.email %></td> -->
							<td>
								<%= link_to contact.name, "/contacts/view/" << contact.id.to_s, class: "btn btn-default" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

	</div>
	</div>
