<form action="/contacts/create" method="POST" role="form">
	<legend>Add Contact</legend>
	<%= form_for(@contact) do |f| %>
	<div class="form-group">
		<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
	</div>
	<div class="form-group">
		<%= f.text_field :address, class: "form-control", placeholder: "Address" %>
	</div>
	<div class="form-group">
		<%= f.text_field :phone, class: "form-control", placeholder: "Phone number", limit: 9 %>
	</div>
	<div class="form-group">
		<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
	</div>
	<%= f.submit "Create Contact", class: "btn btn-primary" %>
	<% end %>
</form>