<h1>The Date is</h1>
<%= @date.strftime "%Y" %><br />
<%= @date.strftime "%m" %><br />
<%= @date.strftime "%d" %><br />
<%= @date.strftime "%h" %><br />
<%= @date.strftime "%m" %><br />
<%= @date.strftime "%s" %><br />
<%= @date.strftime "%z" %><br />