<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>

<%= form_for [@user, @product] do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div>
		<%= f.label :deadline %>
		<%= f.datetime_select :deadline %>
	</div>

	<div>
		<%= f.submit %>
		<%= link_to "Cancel", url_for(:back) %>
	</div>
<% end %>