<% if flash[:notice] %>
	<%= flash[:notice] %>
<% elsif flash[:alert] %>
	<%= flash[:alert] %>
<% end %>


<h1><%= @product.title %> <br><%= number_to_currency(@product.price) %></h1>
<h2>Sold by: <%= @user.name %></h2>
<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>Deadline:</strong> <%= @product.deadline %></p>
<br>

<%= render "bids" %>
<% if @product.active? %>
	<%= render "bid_form" %>
<% else %>
	<h2>Winner: <%= @product.winner.name %></h2>
<% end %>


<br>
<%= link_to "Back", user_products_path  %>
<br>
<%= link_to "Edit", edit_user_product_path  %>
<br>
<%= link_to "Delete product", user_product_path, method: "delete", data: {confirm: "Are you sure?"}  %>