<h1><%= @post.title %></h1>
<h2>
	By: <%= @post.author %><br>
	Category: <%= @post.category %>
</h2>
<h3>
	Date: <%= @post.date %>
</h3>
<p><%= @post.text %></p>
<p><a href="/">Return to homepage</a></p>